<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mira">

<!-- Encoder offsets are not included here but set in a separate config file -->

<!-- Joint 1 -->
<xacro:property name="x1" value="0" />
<xacro:property name="y1" value="-0" />
<xacro:property name="z1" value="0.353" />
<xacro:property name="R1" value="0" />
<xacro:property name="P1" value="-0" />
<xacro:property name="Y1" value="-1.5708" />
<!-- Joint 2 -->
<xacro:property name="x2" value="0.000245734" />
<xacro:property name="y2" value="-8.41729e-05" />
<xacro:property name="z2" value="-2.62745e-08" />
<xacro:property name="R2" value="-1.57048" />
<xacro:property name="P2" value="0" />
<xacro:property name="Y2" value="0" />
<!-- Joint 3 -->
<xacro:property name="x3" value="-0.000221519" />
<xacro:property name="y3" value="-0.701308" />
<xacro:property name="z3" value="0.000152409" />
<xacro:property name="R3" value="1.57058" />
<xacro:property name="P3" value="-0" />
<xacro:property name="Y3" value="0" />
<!-- Joint 4 -->
<xacro:property name="x4" value="0.000169026" />
<xacro:property name="y4" value="-3.11783e-05" />
<xacro:property name="z4" value="-6.03802e-09" />
<xacro:property name="R4" value="-1.5706" />
<xacro:property name="P4" value="0" />
<xacro:property name="Y4" value="0" />
<!-- Joint 5 -->
<xacro:property name="x5" value="-0.000208364" />
<xacro:property name="y5" value="-0.700284" />
<xacro:property name="z5" value="-4.53326e-05" />
<xacro:property name="R5" value="1.57086" />
<xacro:property name="P5" value="-3.14159" />
<xacro:property name="Y5" value="-1.22465e-16" />
<!-- Joint 6 -->
<xacro:property name="x6" value="-0.000182637" />
<xacro:property name="y6" value="0.000201857" />
<xacro:property name="z6" value="8.9933e-08" />
<xacro:property name="R6" value="-1.57035" />
<xacro:property name="P6" value="0" />
<xacro:property name="Y6" value="0" />
<!-- Joint 7 -->
<xacro:property name="x7" value="-0.000323916" />
<xacro:property name="y7" value="-0" />
<xacro:property name="z7" value="0" />
<xacro:property name="R7" value="1.56999" />
<xacro:property name="P7" value="-0" />
<xacro:property name="Y7" value="0" />
</robot>